
<div id="user_nav">
  <span id="logo"><%= link_to image_tag("sound_ocean.png", :border => 0), class: "sound_ocean", id: "left-logo" %></span>
	<span id="not-opacity">
	  Exploring as <strong><%= current_user.username %></strong>. | 
	  <%= link_to "Home", root_path %> |
	  <a href="#" id="new-genre" >New Genre</a> |
    <%= link_to "Logout", destroy_user_session_path, method: :delete %> |
	  
	</span>
</div>


<div id="game-container"></div>


<div class="aside" id="playlist-menu">
  <ul class="aside-ul" id="playlist-ul">
    <% if @songs %>
      <% @songs.each do |song| %>
        <li><a class="playlist-track" href="<%= song.url %>" target="_blank"><%= song.artist %> - <%= song.title %></a></li>
      <% end %>
    <% else %>
      <li>No Songs! Swim around and discover some!</li>
    <% end %>
    
  </ul>
  <%= link_to "Ocean Jams", playlists_show_path, class: "button-to", id: "ocean-playlist" %>
</div>
<div class="aside" id="ranking">
  <span id="current-user-score">Current Score&nbsp;&nbsp; <%= current_user.score.to_i %></span>
  <ul class="aside-ul" id="ranking-ul">
    <li id="score-title">Top Discoverers</li>
    <% if @top_users %>
      <% @top_users.each do |user| %>
        <li><%= user.username %> - <%= user.score %></li>
      <% end %>
    <% end %>
  </ul>
</div>
<div id="genre-picker" class="modal">
  <select name="" id="genre-select">
    <option value="folk">Folk</option>
    <option value="rock">Rock</option>
    <option value="pop">Pop</option>
    <option value="indie">Indie</option>
    <option value="childrens">Childrens</option>
    <option value="classical">Classical</option>
    <option value="hip-hop">Hip Hop</option>
    <option value="trance">Trance</option>
    <option value="acoustic">Acoustic</option>
    <option value="jazz">Jazz</option>
    <option value="rap">Rap</option>
    <option value="alternative">Alternative</option>
    <option value="country">Country</option>
    <option value="electronic">Electronic</option>
    <option value="dubstep">Dubstep</option>
    <option value="heavy metal">Heavy Metal</option>
  </select>
  <input type="submit" id="genre-button" class="button-to" value="Pick a genre"/>
</div>

<div id="current-song" class="modal"><span id="current-song-dislay"> 

   You are listening to</span>
   <span id="discovered-song-title" >title</span> by <span id="discovered-song-artist" >artist</span>

  <input type="submit" id="add-button" class="button-to" value="Add to playlist!"/>
  <input type="submit" id="no-thanks" class="button-to" value="No Thanks"/>
</div>

<div id="arrow-keys-modal" class="modal">
  <p>Use the arrow key's to move your avatar</p>
  <p>Use the spacebar for a speed boost</p>
  <p>Navigate offscreen for new discoveries!</p>
</div>

<!-- <div id="spacebar-modal" class="modal"></div>

<div id="navigate-modal" class="modal"></div> -->
