<!DOCTYPE html>
<html>
<head>
  <title>SoundOcean</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
</head>
<body>
 <div id="container">
      <div id="user_nav">
        <% if user_signed_in? %>
          Logged in as <strong><%= current_user.username %></strong>.
          <%= link_to 'Edit profile', edit_user_registration_path %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path %> |
          <%= link_to "Login", new_user_session_path %> |
          <%= link_to "Sign in with Soundcloud", user_omniauth_authorize_path(:soundcloud) %>
        <% end %>
      </div>
      <div id="sidr">
        <!-- Your content -->
        <ul>
          <li><a href="#">List 1</a></li>
          <li class="active"><a href="#">List 2</a></li>
          <li><a href="#">List 3</a></li>
        </ul>
      </div> 
      <a id="left-menu" href="#left-menu">Left Menu</a> 
      <a id="right-menu" href="#right-menu">Right Menu</a>

      <a id="existing-content-menu" href="#existing-content-menu">Existing content</a> 
      <a id="remote-content-menu" href="#remote-content-menu">Load remotelly</a> 
      <a id="callback-menu" href="#callback-menu">Callback loaded</a>
       
      <header id="demoheader">
          <h1>Demos &amp; Usage</h1>
      </header>
       
      <div id="demo-content">
          <p>Here are described differents ways of usage for this plugin, you can read and adapt them to your website's requeriments. Below are described all options with details.</p>
      </div>
      

      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, id: "flash_#{name}" %>
      <% end %>
  <!-- http://stratus.sc/guides#wordpress -->
  <!-- http://www.berriart.com/sidr/#usage -->
  <!-- http://shuffler.fm/ -->
<%= yield %>
  </div>

</body>
</html>
